@import "tailwindcss";

@keyframes rotate-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.curved-circle-animate {
  animation: rotate-slow 160s linear infinite;
  transform-origin: center;
}
